* {
  //   margin: 0;
  //   padding: 0;
}

.container {
  max-width: 1000px;
}

.container-1 {
  display: flex;

  div {
    padding: 10px;
  }
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
}

.b1 {
  border: 1px solid lightcoral;
}

.b2 {
  border: 1px solid lightskyblue;
}

.b3 {
  border: 1px solid lightseagreen;
}
